<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class='center-container'>
      <div class='container-fluid'>
        <form action='/play-game' method='post'>
          <label for="name">Enter your name</label>
          <input class="form-control" id="name" type='text' autocomplete="off" name='player-name'/>
        </form>
      </div>
    </div>
  </body>
  <link rel='stylesheet' type='text/css' href='/style.css'>
</html>